<!DOCTYPE html>
<html lang="">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title><%= METADATA.title %></title>

	<meta name="description" content="<%= METADATA.title %>">

	<% if (webpackConfig.htmlElements.headTags) { %>
	<!-- Configured Head Tags  -->
	<%= webpackConfig.htmlElements.headTags %>
	<% } %>

	<!-- base url -->
	<base href="<%= METADATA.baseUrl %>">

	<!--<link href="styles/styles.css" rel="stylesheet">-->

</head>

<body>
<aside id="panel"></aside>
<canvas id="plot" width="1000" height="500" :width="width" :height="height"></canvas>

<% if (METADATA.isDevServer && METADATA.HMR !== true) { %>
<!-- Webpack Dev Server reload -->
<script src="/webpack-dev-server.js"></script>
<% } %>


</body>
</html>
